* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Ubuntu", system-ui, -apple-system, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
}

#header-index {
  width: 100%;
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 0.75rem 0;
}

.hero-titulo {
  font-size: 1.75rem;
}

.hero-titulo a {
  text-decoration: none;
  color: white;
}

.header-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.search-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input[type="search"] {
  padding: 0.5rem;
  border-radius: 2rem 0 0 2rem;
}

.search button {
  padding: 0.5rem 1rem;
  background-color: #ff4081; /* Blanco */
  color: white; /* Rosa intenso */
  border-radius: 0 2rem 2rem 0;
  cursor: pointer;
}

.user-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 0.5rem;
}

.user-div a {
  color: #ffffff;
  font-size: 0.9rem;
  margin-right: 1rem;
  text-decoration: none;
  text-align: center;
}

.user-div .app {
  background-color: #ffffff; /* Blanco */
  color: #ff4081; /* Rosa intenso */
  padding: 0.35rem 1rem;
  border-radius: 2rem;
  text-decoration: none;
  margin-right: auto; /* Empuja estos elementos a la derecha */
}

/*---- MAIN ----*/

#main-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-index {
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
}

.contenedor-index::after {
  content: '';
  inset: 0;
  z-index: -10;
  position: absolute;
  background-image: url('../assets/images/backgrounds/home-bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.contenedor-index::before {
  content: '';
  inset: 0;
  z-index: -20;
  position: absolute;
  background: #2c2c2c;
  opacity: 0.4;
}

.bienvenida {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}

.bienvenida-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bienvenida-box:nth-of-type(2) {
  margin-bottom: 2rem;
}

.bienvenida-box h2 {
  font-size: 3rem;
}

.bienvenida-box h3 {
  font-size: 2rem;
}

.bienvenida-box h2, .bienvenida-box h3 {
  text-shadow: 0 0 2px #ff4081;
  position: relative;
  padding: 0.5rem 1.5rem;
}

.bienvenida-box h2::before, .bienvenida-box h3::before {
  content: '';
  inset: 0;
  z-index: -1;
  position: absolute;
  background-color: #2c2c2c;
  opacity: 0.6;
  border-radius: 2rem;
  transition: 0.2s linear;
}

.bienvenida-box h2:hover::before, .bienvenida-box h3:hover::before {
  opacity: 0.9;
}

.bienvenida-box a {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: #ffffff;
  text-decoration: none;
  color: #ff4081
}

.carousel-titulo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 3rem 0;
}

.linea-lateral {
  width: 30%;
  color: #ff4081;
  border: 2px solid;
  border-radius: 1rem;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-carousel {
  width: 100%;
  overflow-y:hidden;
  opacity: 0.9;
}

#galeria {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  padding-top: 3rem;
  padding-inline: 1rem;
}

.galeria-titulo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.mosaico-peliculas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.mosaico-peliculas .card {
  margin-bottom: 2rem;
}

.card .card-body {
  background-color: #2c2c2c;
  color: white;
}

.proximos-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
}

.proximos-titulo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.proximos-section {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scrollbar-color: #ff4081 #2c2c2c;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.proximos-section::-webkit-scrollbar-thumb {
  border-radius: 2rem !important;    
}  

.proximos-contenedor {
  display: flex;
}

.proximos-contenedor div {
  margin: 0 1rem;
}

/**--------------480px--------------**/

@media all and (max-width: 480px) {

  .user-div a, .user-div .app {
    padding: 0.15rem 0.5rem;
  }

  .bienvenida-box h2, .bienvenida-box h3 {
    width: 95%;
    font-size: 1.5rem;
    padding: 0.5rem
  }

}

/**--------------576px--------------**/

@media all and (min-width: 480px), (max-width: 576) {
  .contenedor-index::after {
    background-position-y: 45%;
  }
}

@media all and (max-width: 576px) {

  .contenedor-index::after {
    background-image: url('../assets/images/backgrounds/home-mobile-bg.jpg') !important;
  }

}

/**--------------959px--------------**/

@media all and (max-width: 959px) {

  #header-index {
    padding: 1rem 0;
  }

  .header-contenedor {
    flex-direction: column;
    padding-inline: 0;
  }

  .search {
    display: none;
  }

  .user-div {
    flex-direction: column;
  }

  .user-div a, .user-div .app {
    margin-right: 0;
    padding: 0.15rem 0.5rem;
  }

  .bienvenida-box h2, .bienvenida-box h3 {
    width: 90%;
    font-size: 1.75rem;
    padding: 0.5rem
  }

  .mosaico-peliculas {
    gap: 1rem;
  }

  .proximos-box {
    min-height: 100vh;
  }

  .mosaico-peliculas .card {
    margin-bottom: 0;
  }

}